#root {
  max-width: auto;
  margin: 0;
  padding: 0;
  text-align: center;

  --fs-xl: clamp(2rem, 8vw + 1rem, 5rem);
  --fs-l: clamp(1rem, 5vw + 1rem, 3rem);
  --fs-800: clamp(1.5rem, 8vw + 0.25rem, 2rem);
  --fs-600: clamp(1rem, 4vw + 0.125rem, 1.5rem);
  --fs-500: 1.25rem;
  --fs-400: 1rem;
}



*, html {
    scroll-behavior: smooth !important;
    box-sizing: border-box;

}

@media (preferse-reduced-motion: reduce) {
  *, html{
    scroll-behavior: auto;
  }
}

/* general things*/
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

img {
  max-width: 100%;
 }


/* ========= NAVBAR HEADER =========== */
header{
  position: sticky;
  top: 0;
  padding: 25px 0;
  width: 100%;
  z-index: 1000;

  justify-content: space-between;
  align-items: center;

  /* background: rgba(0, 0, 0, 0.5); */
  backdrop-filter: blur(2rem);

}

header h1 {
  font-weight: 500;
  font-size: var(--fs-800);
  color: #F6723D;
  margin-left: 2rem;
  letter-spacing: 1px;
}

.navigation {
  list-style:none;
  padding: 0;
  margin: 0;
}



.navigation a {
  font-weight: 400;
  font-size: var(--fs-800);
  color: #F6723D;
  
  text-decoration: none;
}

.navigation a:hover {
  color: #C3F7F0;
  text-shadow: 1px 2px 0px #0f1025;
  text-decoration:underline;


}

header .resume {
  font-weight: 500;
  font-size: var(--fs-600);
  letter-spacing: 2px;
  color: #F6723D;
  text-shadow: 1px 2px 0px #0f1025;

  padding: 0.75rem 1.5rem;
  margin-right: 3rem;

  border: 3px solid #F6723D;
  box-shadow: 3px 3px 0px #0f1025, inset 2px 2px 0px #0f1025;
  backdrop-filter: blur(1rem);

}

header .resume:hover {
  border: 3px solid #C3F7F0;
  color: #C3F7F0;
  text-shadow: 1px 2px 0px #0f1025;
  box-shadow: 3px 3px 0px #0f1025, inset 2px 2px 0px #0f1025;
}

.mobile-nav-toggle {
  display: none;
}

@media (max-width: 40em) {
  header {
    background: none;
    border: none;
    padding: 0;
  }

  .navigation {
    
    --gap: 3em;
    z-index: 1000;

    position: absolute;
    inset: 0 0 0 0; /* 30% off right side */
    text-align: end;

    flex-direction: column;

    padding-top: 15vh;
    padding-bottom: 100vh;
    padding-right: 2rem;

    transform: translateX(100%);
    transition: transform 350ms ease-in;

    background: rgba(0, 0, 0, 0.75);
   }

   header h1 {
    z-index: 9999;
    font-size: clamp(1rem, 6vw + 0.125rem, 1.5rem);
    text-wrap: wrap;
    
    margin: auto;
    position: absolute;
    top: 1.75rem;
    left: 2rem;

    padding-right: 25vw;
    transform: translateX(200%);
    transition: transform 350ms ease-in;
   }

   header h1[data-visible="true"] {


    transform: translateX(0%);
    }

  .navigation[data-visible="true"] {
    transform: translateX(0%);
  }

   .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;

    /* background: url("/images/icon-hamburger.svg");
    background-repeat: no-repeat; */
    border: 0;
    color: white;

    width: 3rem;
    aspect-ratio: 1;
    top: 1.5rem;
    right: 2rem;

   }
}






/* ========= OTHER PAGES =========== */
main {
  background: #F9DBC1;
  padding-bottom: 100px;
  
}

.about-me {
  padding: 100px 0;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr;

  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}

.about-me-text {
  padding: 100px 0;
}

.about-me-text h1 {
  font-family: 'Damion';
  font-size: var(--fs-xl);
  color: #F6723D;
  text-shadow:
    -5px 5px 0 #000;
  transform: rotate(-15deg);
  padding-bottom: 50px;
  }

  .about-me-text p {
    color: #F6723D;
  }

  .about-me-image {
    width: 80%;
    margin: 0 auto;
  }


  .projects {
    padding: 100px 0;
    width: 80%; 
    max-width: 1000px;
    margin: 0 auto;
  }

  .title {
    font-size: var(--fs-l);
    font-weight: 400;
    color: #F6723D;
  }

  .projects-display {

    display: flex;
    gap: 50px;
    padding: 100px 0;

    margin: 0 auto;
  }

  @media (max-width: 40em) {
    .projects-display {
      flex-direction: column;
      align-items: center;
      gap: 150px;
    }

    .project-card {
      flex-basis: 100%;
      max-width: 80%;
    }
  }

  .project-card {
    flex-basis: 100%;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.3);
    transition: 0.3s;
    max-height: 500px;

  }

  .project-card:hover {
    box-shadow: 0 8px 16px 0 rgb(0, 0, 0, 0.3);
  }

  .project-card > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .project-card > h2 {
    font-weight: 400;
    font-size: var(--fs-600);
    padding: 10px;
    text-align: center;
  }

  .contact {
    width: 100%;
    padding: 100px 0px;
  }
  
  .contact-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;

    width: 80%;
    max-width: 800px;
    margin: 0 auto;

    background-color:white;


  }

/* ========= FRONT PAGE WORK ===========*/

/* for front page*/
hero {
  margin: 0;
  padding: 0;
  height: 100vh;
  
  display: grid;
  grid-gap: 1em;
  grid-template-rows: auto 1fr 1fr 1fr;


  box-sizing: border-box;
  border-top: 10vh solid #000;
  border-left: 40px solid #000;
  border-right: 40px solid #000;


  background-image: url("/images/ion-thruster.jpg");
  background-position: center;
  background-size: cover;

  padding-top: 100px;

}


/* Front page text */
hero h1 {
  font-weight: 600;
  color: #F9DBC1;
  font-size:  var(--fs-xl);
  text-shadow: 2px 6px 0px #F6723D,
    -2px -2px 0 #F6723D,
     0   -2px 0 #F6723D,
     2px -2px 0 #F6723D,
     2px  0   0 #F6723D,
     2px  2px 0 #F6723D,
     0    2px 0 #F6723D,
    -2px  2px 0 #F6723D,
    -2px  0   0 #F6723D;
  letter-spacing: 3px;

}
hero h2 {
  font-weight: 600;
  color: #F9DBC1;
  font-size: var(--fs-l);
  text-shadow: 1px 5px 0px #F6723D;
  text-overflow: clip;
  white-space: nowrap;

}
hero h3 {
  font-weight: 300;
  color:#C3F7F0;
  font-size: var(--fs-l);
  background: #000;
  object-fit: fill;
  padding: 5px
}

/* Front page buttons */
button {
  transition: 0.25s ease;
  text-align: center;
  background: none;
}

.hero-button-resume {
  font-weight: 400;
  font-size: var(--fs-600);
  color: #F9DBC1;
  text-shadow: 1px 2px 0px #F6723D;
  letter-spacing: 2px;

  padding: 10px 20px;

  border: 3px solid #F9DBC1;
  box-shadow: 3px 3px 0px #F6723D, inset 2px 2px 0px #F6723D;

  backdrop-filter: blur(2rem);

}

.hero-button-resume:hover {
  color: #C3F7F0;
  text-shadow: 1px 2px 0px #0f1025;

  border: 3px solid #C3F7F0;
  box-shadow: 3px 3px 0px #0f1025, inset 2px 2px 0px #0f1025;
}

.hero-button-navbar {
  font-weight: 400;
  font-size: var(--fs-l);
  color: #F9DBC1;
  text-decoration: none;

  margin-left: 20px;
  margin-right: 20px;
  border: none;

  
}

.hero-button-navbar:hover {
  color: #C3F7F0;
  text-shadow: 1px 2px 0px #0f1025;
  text-decoration:underline;
  transform:scale(1.1);
}


@media (max-width: 40em) {
  hero {
    border-left: 0px;
    border-right: 0px;
    background-position:left;
    background-position-x: -250px;
  }

  .hero-button-navbar {
    display:none;
  }
}

@media (max-height: 800px) {
  hero {
      padding-top: 50px;
  }
}