#root {
  max-width: auto;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* general flexbox things*/
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}


/* ========= HEADER =========== */

nav{
  position: sticky;
  padding-top: 50px;
  width: 100%;
  justify-content: none;
}

nav h1 {
  font-weight: 500;
  font-size: 42px;
  color: #F6723D;
  margin-left: 64px;
  margin-right: 5%;
  letter-spacing: 1px;
}

navbar{
  margin-right:auto;
  display: inline-flex;
  gap: 40px;
}

.navbar-button {
  font-weight: 400;
  font-size: 48px;
  color: #F6723D;
  border: none;
}

.navbar-button:hover {
  color: #C3F7F0;
  text-shadow: 1px 2px 0px #0f1025;
  text-decoration:underline;
}

.navbar-button-resume {
  font-weight: 500;
  font-size: 24px;
  color: #F6723D;
  text-shadow: 1px 2px 0px #0f1025;
  letter-spacing: 2px;

  padding: 15px 25px;
  margin-right: 100px;

  border: 3px solid #F6723D;
  box-shadow: 3px 3px 0px #0f1025, inset 2px 2px 0px #0f1025;
}

.navbar-button-resume:hover {
  color: #C3F7F0;
  text-shadow: 1px 2px 0px #0f1025;

  border: 3px solid #C3F7F0;
  box-shadow: 3px 3px 0px #0f1025, inset 2px 2px 0px #0f1025;
}


/* ========= OTHER PAGES =========== */
main {
  background: #F9DBC1;
  min-width: 100vh;
  height: 100vh;
}

.about-me {
  padding-top: 100px;
  display: grid;
  grid-gap: 1em;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
}

.about-me-h1 {
  font-family: 'Damion';
  font-size: 5rem;
  color: #F6723D;
  text-shadow:
    -5px 5px 0 #000;
  transform: rotate(-15deg);
  padding-bottom: 50px;
  }

/* ========= FRONT PAGE WORK ===========*/

/* for front page*/
header {
  margin: 0;
  padding: 0;
  height: 100vh;
  
  display: grid;
  grid-gap: 1em;
  grid-template-rows: auto 1fr 1fr 1fr;


  box-sizing: border-box;
  border-top: 10vh solid #000;
  border-left: 40px solid #000;
  border-right: 40px solid #000;


  background-image: url("/images/ion-thruster.jpg");
  background-position: center;
  background-size: cover;

  padding-top: 100px;

}

/* Front page text */
header h1 {
  font-weight: 600;
  color: #F9DBC1;
  font-size:4rem;
  text-shadow: 2px 6px 0px #F6723D,
    -2px -2px 0 #F6723D,
     0   -2px 0 #F6723D,
     2px -2px 0 #F6723D,
     2px  0   0 #F6723D,
     2px  2px 0 #F6723D,
     0    2px 0 #F6723D,
    -2px  2px 0 #F6723D,
    -2px  0   0 #F6723D;
  letter-spacing: 3px;

}
header h2 {
  font-weight: 600;
  color: #F9DBC1;
  font-size: 3rem;
  text-shadow: 1px 5px 0px #F6723D;

}
header h3 {
  font-weight: 300;
  color:#C3F7F0;
  font-size: 3rem;
  min-height: 10vh;
  background: #000;

  padding: 5px
}

/* Front page buttons */
button {
  transition: 0.25s ease;
  text-align: center;
  background: none;
}

.header-button-resume {
  font-weight: 400;
  font-size: 1.5rem;
  color: #F9DBC1;
  text-shadow: 1px 2px 0px #F6723D;
  letter-spacing: 2px;

  padding: 10px 20px;

  border: 3px solid #F9DBC1;
  box-shadow: 3px 3px 0px #F6723D, inset 2px 2px 0px #F6723D;
}

.header-button-resume:hover {
  color: #C3F7F0;
  text-shadow: 1px 2px 0px #0f1025;

  border: 3px solid #C3F7F0;
  box-shadow: 3px 3px 0px #0f1025, inset 2px 2px 0px #0f1025;
}

.header-button-navbar {
  font-weight: 400;
  font-size: 2.5rem;
  color: #F9DBC1;

  margin-left: 20px;
  margin-right: 20px;
  border: none;
}

.header-button-navbar:hover {
  color: #C3F7F0;
  text-shadow: 1px 2px 0px #0f1025;
  text-decoration:underline;
  transform:scale(1.1)
}